header{
    text-align: center;
    color: rgb(192,109,43);
    ;
}

body{
    font-size: 16px;
    color: rgb(54, 20, 20);
    font-family: 'Outfit', sans-serif;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 1.7em;
    color:rgb(192,109,43);
}

nav{
    background-color: #F2C540;
    text-align: center;
    margin-top: 0;
}

nav ul{
    list-style-type: none;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(3, 1fr);
    padding-inline-start: 0;
}

nav li a{
    display: block;
    color: #4c2882;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .75rem;
}

nav li a:hover{
    background-color: white;
    color: #4c2882;
}

.home-main{
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    padding: .5em 2em;
    text-align: center;
    grid-column-gap: 10px;
}

img {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

p{
    margin: auto;
}

footer {
    padding: 1em;
    text-align: center;
    color:#4c2882;
    background-color: #F2C540;
    margin-top: 1em;
}

footer a:link{
    color: #4c2882;
}

footer a:visited{
    color:#4c2882;
}

#lastupdated {
    font-style: italic;
    font-size: smaller;
}

.colors-main h2{
    text-align: center;
}

#colors-sample{
    display: grid;
    grid: repeat(5,1fr)/ 1fr;
    margin: .5em;
    padding-bottom: .6em;
    color: white;
}

#colors-sample p{
    width: 80%;
    text-align: center;
    padding: 1em;
}

#color1{
    background-color: #CA6A2D;
    color: #011640;
}

#color2{
    background-color: #EBD15F;
    color: #4c2882;
}

#color3{
    background-color: #464e7c;
    color:white
}

#color4{
    background-color: #4c2882;
    color:white
}

#color5{
    background-color: #011640;
    color:white
}

.audience{
    padding: 0 1em;
}

.typography{
    padding: 1em;
    text-align: center;
}

.typography h2, p{
    color:rgb(54, 20, 20);
    text-align: center;
}

#colors-define{
    padding: .5em 2em;
}

